<%= form_with(model: [current_user, @post, Comment.new], local: true) do |form| %>
  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>
  <%= form.submit 'Add Comment' %>
<% end %>
