<ul class="users-list">
  <% @users.each do |user| %>
    <li class="user-list">
      <% if user.photo.present? %>
        <%= image_tag user.photo, alt: user.name, class: 'user-thumbnail' %>
      <% else %>
        <span class="user-thumbnail placeholder">No Photo</span>
      <% end %>
      <%= link_to user.name, user_path(user) %>
      <span class="post-count">Number of posts: <%= user.posts.count %></span>
    </li>
  <% end %>
</ul>
