
<% if @user.photo.present? %>
  <%= image_tag @user.photo, alt: @user.name, class: 'user-thumbnail' %>
<% else %>
  <span class="user-thumbnail placeholder">No Photo</span>
<% end %>
<p>Name: <%= @user.name %></p>
<p>Number of Posts: <%= @user.posts.count %></p>