* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 40px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333fea;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.users-list {
  display: grid;
  gap: 3rem;
  justify-items: center;
  align-content: center;
}

.user-profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.user-list,
.user-profile {
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-bio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}

.user-posts {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}

.counters {
  display: flex;
  align-self: flex-end;
  text-align: right;
  gap: 1rem;
}

.post-user-info {
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-btn {
  border: none;
  border-radius: 5px;
  padding: 0.25em 0.5rem;
  background-color: #333fea;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.see-all-button,
.pagination-btn {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #333fea;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 1rem;
}

.see-all-button:hover,
.pagination-btn:hover {
  color: #333fea;
  background-color: #f4f4f4;
}

.single-post-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.single-post-info {
  display: grid;
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  gap: 2rem;
}

.single-post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments-likes {
  display: flex;
  gap: 1rem;
}

.comments-section {
  display: grid;
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  gap: 2rem;
}
